* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background: #222222;
  color: white;
  text-align: center;
}

section {
  margin: 3rem;
}

#anime {
  width: 20rem;
  border-radius: 20rem;
}

#bookmarks ul {
  list-style-type: none;
  margin-top: 1rem;
}

#bookmarks ul a {
  color: #eeeeee;
}

#bookmarks .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bookmarks .container {
  background: #313131;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 10rem;
}