* {
	all: unset;
}

// power menu
.power-menu {
  background: #282828;
	color: #ebdbb2;
	border: 2px solid #665c54;
	border-radius: 1rem;
}

.power-menu {
	font-size: 3rem;
}

.power-menu button {
  margin: 10px;
  padding: 10px;
  border-radius: 0.5rem;
}

.power-menu button:hover {
  background: rgba(10, 10, 10, 0.2);
}
